<%- include('partials/head', { pageTitle: 'Superheroes' }) %> <%-
include('partials/nav') %>
<main id="superheroes">
<h1>Superheroes</h1>
<div class="hero-list">
    <ul id="hero-list">
        <% superheroes.forEach(function(superhero) { %>
        <li>
            <a href="/<%= superhero._id %>"><%= superhero.name %></a>
        </li>
        <% }); %>
    </ul>
</div>
</main>
<%- include('partials/footer') %>
